// For plugin settings page

.plugin-title {
  position: relative;
  margin-bottom: 16px;
}

.plugin-logo {
  background-color: #295cbf;
  border-radius: 4px;
  padding: 5px;
  margin-right: .25rem;
  margin-bottom: -18px;
}
